* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

/* Header */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Brand section*/
.brand-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.logo {
    width: 5rem;
    margin: .5rem;
}

.brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #d2f801;
}

/* Navbar */
.navbar {
    display: flex;
    gap: 3rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    color:#d2f801;
}
/* ====== Add new here ====== */

/* MAIN CONTENT */
main {
    flex: 1;
    text-align: left;
    padding: 60px 80px;
     margin-bottom: 130px; /
}

main h2 {
    color: #ccff00;
    margin-bottom: 10px;
    font-weight: bold;
}

main p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #fff;
}

/* STATUS CARDS */
.status-cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #151313;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 250px;
    max-width: 250px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 48px;
    color: #ccff00;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
}


/* ====== Footer ====== */
/* FOOTER */
footer {
  background: #000;
  color: #fff;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
   align-items: center; 
}

/* LEFT SIDE */
.footer-left {
  flex: 1.5;
  min-width: 350px;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.footer-logo {
  max-width: 120px;
}
.footer-desc {
  font-size: 14px;
  color: #bbb;
  line-height: 1.5;
  max-width: 300px;
  align-items: center;
  margin-top: 50px;
}
.footer-bottom {
  margin-top: 20px;
}
.follow-text {
  color: #ccff00;
  font-weight: bold;
  margin-bottom: 8px;
}
.social-icons a {
  margin-right: 12px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}
.social-icons a:hover {
  color: #ccff00;
}

/* RIGHT SIDE */
.footer-right {
  flex: 1;
  min-width: 280px;
}
.footer-right p {
  margin: 12px 0;
  font-size: 14px;
  color: #ccc;
}
.footer-right i {
  margin-right: 8px;
  color: #ccff00;
}



/* Responsive */
@media (max-width: 1000px) {
    body {
        padding: 0 5%;
    }

    .overview-box {
        width: 100%;
    }

    .pass-card {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 30px 20px;
    }

    .photo {
        margin: 0 0 25px 0;
    }
}

