@*
    
*@
@{

    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/images_fitcheck/fitcheckicon.png" />
  <title>Fitcheck</title>
    <link rel="stylesheet" href="~/css/AdminHome.css" asp-append-version="true">
</head>
<body>
    <header>
        <div class="brand-container">
            <img alt="logo" class="logo" src="~/images_fitcheck/fitcheckicon.png">
            <h1 class="brand">FITCHECK</h1>
        </div>
        <nav class="navbar">
            <a asp-controller="Admin" asp-action="AdminHome">Home</a>
            <a asp-controller="Admin" asp-action="AdminPayment">Payment</a>
            <a asp-controller="Admin" asp-action="AdminClass">Classes</a>
            <a asp-controller="Admin" asp-action="AdminMember">Members</a>

            <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                <button type="submit" class="logout-btn">Logout</button>
            </form>


        </nav>
    </header>

    
    <!-- Main -->


    <main>
        <h2>WELCOME @Model.AdminName,</h2>
        <h3>PENDING MEMBERSHIP</h3>

        <div class="status-cards">
            <div class="card">
                <h3>@Model.ActiveMembers</h3>
                <p>Active Members</p>
            </div>
            <div class="card">
                <h3>@Model.PendingPayments</h3>
                <p>Pending Payments</p>
            </div>
            <div class="card">
                <h3>@Model.UpcomingClasses</h3>
                <p>Upcoming Classes</p>
            </div>
        </div>
    </main>



    <div class="hr-container">
        <hr>
    </div>


  <div class="hr-container">
        <hr>
    </div>

    <footer>
        <div class="footer-container">
            <div class="left-side-footer">
                <div class="description-footer">
                    <img class="fitcheck-logo-footer" src="~/images_fitcheck/fitcheckicon.png">
                    <p>Transform your body and mind at FitCheck Gym. With state-of-the-art equipment, expert trainers, and a supportive community, we're here to help you achieve your fitness goals.</p>
                </div>
                <div class="follow-socials-container">
                    <h4 class="follow-us-footer">FOLLOW US</h4>
                    <div class="social-media-container">
                        <a target="_blank" href="https://www.facebook.com/"><img src="~/images_fitcheck/icon_fb-removebg-preview.png"></a>
                        <a target="_blank" href="https://www.linkedin.com/"><img src="~/images_fitcheck/Icon_linkedin-removebg-preview.png"></a>
                        <a target="_blank" href="https://www.youtube.com/"><img src="~/images_fitcheck/icon_youtube-removebg-preview.png"></a>
                        <a target="_blank" href="https://www.instagram.com/"><img src="~/images_fitcheck/icon_instagram-removebg-preview.png"></a>
                    </div>
                </div>
            </div>
            <div class="right-side-footer">
                <div class="address">
                    <img src="~/images_fitcheck/icon_location-removebg-preview.png">
                    <p>Street 1, Congressional Rd Caloocan City</p>
                </div>
                <div class="email-address">
                    <img src="~/images_fitcheck/icon_email-removebg-preview.png">
                    <p>info@fitcheckgym.com</p>
                </div>
                <div class="contact-number">
                    <img src="~/images_fitcheck/icon_mobile-removebg-preview.png">
                    <p>09192344890 / 09365144587</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>